* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: Arial;
}
button{
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.container {
  position: relative;
  height: 100vh;
}

.form-container {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.form-header h1 {
  margin: 0;
  color: #000;
}

.form-header span {
  color: #666;
  font-size: 14px;
}

.form-group {
  padding: 20px;
}

.form-group label {
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.form-group input,
.form-group button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f1f1f1;
}

.form-group input:focus,
.form-group button:focus {
  background: #ddd;
}

.form-group button {
  background: #000;
  color: #ffffff;
  cursor: pointer;
}

.form-group button:hover {
  background: #ddd;
}

.form-footer {
  padding: 20px;
  text-align: right;
}

.form-footer span {
  color: #666;
  font-size: 14px;
}

.form-footer a {
  color: #000;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}